@model Minem.Sgpam.TransporteDatos.DtoEntidades.ComponenteDTO

<div class="col-md-4 col-sm-12 col-xs-12 form-group">
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Unid. Hidrográfica</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <input asp-for="Id_Cuenca_Hidro" class="form-control" />
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-12 col-xs-12 form-group">
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Región</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <select class="select2_single form-control" tabindex="-1">
                <option></option>
                <option value="AK">Opcion 1</option>
                <option value="HI">Opcion 2</option>
            </select>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-12 col-xs-12 form-group">
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Provincia</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <select class="select2_single form-control" tabindex="-1">
                <option></option>
                <option value="AK">Opcion 1</option>
                <option value="HI">Opcion 2</option>
            </select>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-12 col-xs-12 form-group">
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Distrito</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <select class="select2_single form-control" tabindex="-1">
                <option></option>
                <option value="AK">Opcion 1</option>
                <option value="HI">Opcion 2</option>
            </select>
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-12 col-xs-12 form-group">
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Cuenca Pr. </label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <select id="vId_Cuenca" class="select2_single form-control" asp-for="Id_Cuenca" asp-items="(List<SelectListItem>)ViewBag.CboCuencaPrincipal">
                <option value="">Seleccione</option>
            </select>
            <input type="hidden" asp-for="Id_Cuenca" />
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-12 col-xs-12 form-group">
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Cuenca Sec.</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <select id="vId_Cuenca_Secundaria" class="select2_single form-control" asp-for="Id_Cuenca_Secundaria" asp-items="(List<SelectListItem>)ViewBag.CboCuencaSecundario">
                <option value="">Seleccione</option>
            </select>
            <input type="hidden" asp-for="Id_Cuenca_Secundaria" />
        </div>
    </div>
</div>