@model Minem.Sgpam.TransporteDatos.DtoEntidades.ComponenteDTO

<div class="col-md-4 col-sm-12 col-xs-12 form-group">
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Puntaje Total</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            @*<input type="text" class="form-control" placeholder="">*@
            <input type="hidden" asp-for="Puntaje" />
            <input class="form-control" value="@Model.Puntaje" readonly="readonly" />
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-12 col-xs-12 form-group">
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Puntaje Normalizado:</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="hidden" asp-for="Puntaje_Normalizado" />
            <input class="form-control" value="@Model.Puntaje_Normalizado" readonly="readonly" />
        </div>
    </div>
</div>
<div class="col-md-4 col-sm-12 col-xs-12 form-group">
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Riesgo:</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <input type="hidden" asp-for="Riesgo" />
            <input class="form-control" value="@Model.Riesgo" readonly="readonly" />
        </div>
    </div>
</div>