@model IEnumerable<Minem.Sgpam.TransporteDatos.DtoEntidades.Comp_Info_GraficaDTO>

<div class="x_titleGrupo">
    <div align="center" class="titulo-m">
    </div>

    <ul class="nav navbar-right panel_toolbox">
        <li>
            <div class="boton">
                <a href="#" data-toggle="modal" data-target="#modal13" onclick="ShowModal('@Url.Action("CrearInformacionGrafica", "RegistrarPAM")', 'fullInformacionGrafica')">Agregar  <i class="fa fa-plus"></i></a>
            </div>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>
<div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th class="column-title">Nombre</th>
                <th class="column-title">Fecha</th>
                <th class="column-title">Usuario</th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.Any())
            {
                <tr class="even pointer">
                    <td class=" " colspan="3">
                        No existe registros
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr class="odd pointer">
                        <td class=" ">
                            @item.Nombre_Imagen
                        </td>
                        <td class=" ">
                            @item.Fec_Ingreso.GetValueOrDefault().ToShortDateString()
                        </td>
                        <td class=" ">
                            @item.Usu_Ingreso
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>