@model IEnumerable<Minem.Sgpam.TransporteDatos.DtoEntidades.Comp_Info_CampoDTO>

<div class="x_titleGrupo">
    <div align="center" class="titulo-m">
    </div>
    <ul class="nav navbar-right panel_toolbox">
        <li>
            <div class="boton">
                <a href="#" data-toggle="modal" data-target="#modal22" onclick="ShowModal('@Url.Action("CrearInformeCampo", "RegistrarPAM")', 'fullInformeCampo')">Agregar  <i class="fa fa-plus"></i></a>
            </div>
        </li>

    </ul>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>
<div class="table-responsive">
    <table id="fulltbl16" class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th class="column-title">Informe</th>
                <th class="column-title">Fecha</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="odd pointer">
                    <td class=" ">
                        @item.Nro_Informe
                    </td>
                    <td class=" ">
                        @item.Fecha_Informe.ToShortDateString()
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>