@model Minem.Sgpam.TransporteDatos.DtoEntidades.Comp_MedicionDTO

<div class="rowGroup">
    <h1 class="grupoT">Mediciones de Campo</h1>

    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha (*)</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input asp-for="Fecha_Desicion" type="date" class="form-control has-feedback-left" aria-describedby="inputSuccess2Status2">
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">PH (*)</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input asp-for="Ph" type="number" class="form-control" max="99.9" min="-99.9" maxlength="4" oninput="fMaxLength(this)" asp-is-invariant="true" />
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Conductividad (*)</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input asp-for="Conductividad" class="form-control" max="99999.9" min="-99999.9" maxlength="7" oninput="fMaxLength(this)" asp-is-invariant="true" />
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Caudal (*)</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input asp-for="Caudal" class="form-control" max="999" min="-999" maxlength="3" oninput="fMaxLength(this)" asp-is-invariant="true"/>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Observación (*)</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <textarea asp-for="Observacion" class="form-controlArea " rows="3" maxlength="250"></textarea>
            </div>
        </div>
    </div>

    <div class="clearfix"></div>
    <div class="x_title2">
        <div align="center" class="titulo-m">
            <input type="hidden" asp-for="Id_Componente" />
        </div>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <button type="button" class="boton" style="margin-right: 0px;" onclick="SaveMedicionCampo()">Guardar  <i class="fa fa-save" style="margin-left: 10px;"></i></button>
            </li>
            <li>
                <div class="boton" data-dismiss="modal">
                    <a href="#">Cancelar  <i class="fa fa-ban"></i></a>
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="clearfix"></div>
</div>