<div class="clearfix"></div>
<div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th class="column-title">ACT_INVENTARIO</th>
                <th class="column-title">ACT_SIGEPAM</th>
                <th class="column-title">Excluir</th>
                <th class="column-title">Incluir</th>
            </tr>
        </thead>
        <tbody>
            <tr class="even pointer">
                <td class=" ">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <div class="form-group">
                            <select class="select2_single form-control" tabindex="-1">
                                <option></option>
                                <option value="AK">Opcion 1</option>
                                <option value="HI">Opcion 2</option>

                            </select>

                        </div>
                    </div>
                </td>
                <td class=" ">--</td>
                <td class=" ">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <div class="form-group">
                            <select class="select2_single form-control" tabindex="-1">
                                <option></option>
                                <option value="AK">Opcion 1</option>
                                <option value="HI">Opcion 2</option>
                            </select>
                        </div>
                    </div>
                </td>
                <td class=" ">
                    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                        <div class="form-group">
                            <select class="select2_single form-control" tabindex="-1">
                                <option></option>
                                <option value="AK">Opcion 1</option>
                                <option value="HI">Opcion 2</option>
                            </select>
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="odd pointer">
                <td class=" ">--</td>
                <td class=" ">--</td>
                <td class=" ">--</td>
                <td class=" ">--</td>
            </tr>
        </tbody>
    </table>
</div>