<div class="x_titleGrupo">
    <div align="center" class="titulo-m">
    </div>

    <ul class="nav navbar-right panel_toolbox">
        <li>
            <div class="boton">
                <a href="#" data-toggle="modal" data-target="#modal11">Agregar  <i class="fa fa-plus"></i></a>
            </div>
        </li>
    </ul>
    <div class="clearfix"></div>
</div>

<div class="clearfix"></div>
<div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th class="column-title">Accesibilidad y escape para la fauna</th>
                <th class="column-title"> Atracción de fauna silv</th>
                <th class="column-title">  Vegetación en el sitio y alred </th>
                <th class="column-title">  Proximidad a áreas prote</th>
                <th class="column-title">   Sensibilidad del </th>
                <th class="column-title">  Drenaje o filtración hacia cuerpos</th>
            </tr>
        </thead>
        <tbody>
            <tr class="even pointer">
                <td class=" ">--</td>
                <td class=" ">--</td>
                <td class=" ">--</td>
                <td class=" ">--</td>
                <td class=" ">--</td>
                <td class=" ">--</td>
            </tr>
            <tr class="odd pointer">
                <td class=" ">--</td>
                <td class=" ">--</td>
                <td class=" ">--</td>
                <td class=" ">--</td>
                <td class=" ">--</td>
                <td class=" ">--</td>
            </tr>
        </tbody>
    </table>
</div>