@{
    ViewData["Title"] = "LaserFiche";
}

<input type="text" name="Carpeta" id="Carpeta" placeholder="Nombre de carpeta" value="MINERIA TRES OSITOS" class="form-control input-lg" />
<br />
<input type="text" name="Ruta" id="Ruta" placeholder="Ruta Archivo" class="form-control input-lg" value="D:\EXP-ORM-LOMAXIMO.txt" />

<div class="text-center">
    <div class="x_title2">

        <ul class="nav panel_toolbox">
            <li>
                <button type="button" class="btn btn-danger" style="margin-right: 0px;" onclick="CrearCarpeta()">Crear Carpeta<i class="fa fa-save" style="margin-left: 10px;"></i></button>
            </li>
            <li>
                <button type="button" class="btn btn-danger" style="margin-right: 0px;" onclick="SubirArchivo()">Cargar Archivo<i class="fa fa-save" style="margin-left: 10px;"></i></button>
            </li>
            <li>
                <button type="button" class="btn btn-danger" style="margin-right: 0px;" onclick="EliminarArchivo()">Eliminar Archivo<i class="fa fa-save" style="margin-left: 10px;"></i></button>
            </li>
            <li>
                <button type="button" class="btn btn-danger" style="margin-right: 0px;" onclick="DescargarArchivo()">Descargar Archivo<i class="fa fa-save" style="margin-left: 10px;"></i></button>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

</div>

@section Scripts {
    <script type="text/javascript">


        CrearCarpeta = function () {
            $.post("@Url.Action("CrearCarpeta", "LF")", { vNombre: $("#Carpeta").val() } ).done(function (x) {
                alert(x);
            }).fail(function (a, b, c) {
                Error("Result: " + b + " " + c + " " + a.status + " " + a.statusText)
            });
        }

        SubirArchivo = function () {
            $.post("@Url.Action("SubirArchivo", "LF")", { vCarpeta: $("#Carpeta").val(), vRuta: $("#Ruta").val() } ).done(function (x) {
                alert(x);
            }).fail(function (a, b, c) {
                Error("Result: " + b + " " + c + " " + a.status + " " + a.statusText)
            });
        }

        EliminarArchivo = function () {
            $.post("@Url.Action("EliminarArchivo", "LF")").done(function (x) {
                alert(x);
            }).fail(function (a, b, c) {
                Error("Result: " + b + " " + c + " " + a.status + " " + a.statusText)
            });
        }

        DescargarArchivo = function () {
            window.location = "http://localhost:4021/LF/DescargarArchivo";

            @*$.post("@Url.Action("DescargarArchivo", "WLF")").done(function (x) {
                alert(x);
            }).fail(function (a, b, c) {
                Error("Result: " + b + " " + c + " " + a.status + " " + a.statusText)
            });*@
        }
    </script>
}