@model Minem.Sgpam.TransporteDatos.DtoEntidades.MaestraDTO

<div class="col-md-12 col-sm-12 col-xs-12 form-group">
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre EUM</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <input asp-for="Eum_Descripcion" class="form-control" />
        </div>
    </div>
</div>
<div class="col-md-12 col-sm-12 col-xs-12 form-group">
    <div class="form-group">
        <label class="control-label col-md-3 col-sm-3 col-xs-12">Acceso a EUM</label>
        <div class="col-md-9 col-sm-9 col-xs-12">
            <input asp-for="Acceso_Eum" class="form-control" />
        </div>
    </div>
</div>