@model IEnumerable<Minem.Sgpam.TransporteDatos.DtoEntidades.Eum_ModDTO>

<div class="table-responsive">
    <table class="table table-striped jambo_table bulk_action">
        <thead>
            <tr class="headings">
                <th class="column-title">Usuario </th>
                <th class="column-title">Cargo </th>
                <th class="column-title">Fecha de Modificación</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="even pointer">
                    <td class=" ">
                        @item.Usu_Ingreso
                    </td>
                    <td class=" ">
                        @item.Cargo
                    </td>
                    <td class=" ">
                        @item.Fec_Ingreso
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>