@model Minem.Sgpam.TransporteDatos.DtoEntidades.Eum_InspeccionDTO

<div class="rowGroup">
    <h1 class="grupoT">Agregar Inspección</h1>

    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Inspector</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <select id="vId_Inspector" class="select2_single form-control" asp-for="Id_Inspector" asp-items="(List<SelectListItem>)ViewBag.CboInspector">
                    <option value="">SELECCIONE</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Fecha de Inspección</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input asp-for="Fecha_Inspeccion" type="date" class="form-control has-feedback-left" placeholder="First Name" aria-describedby="inputSuccess2Status2">
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Hora de Inspección</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="time" class="form-control" placeholder="">
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
        <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">Descripción del Clima:</label>
            <div class="col-md-7 col-sm-7 col-xs-12">
                <input type="text" asp-for="Descripcion_Clima" class="form-control" maxlength="50" placeholder="">
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="x_title2">
        <div align="center" class="titulo-m">
            <input type="hidden" asp-for="Id_Eum" />
        </div>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <button type="button" class="boton" style="margin-right: 0px;" onclick="SaveInspeccion()">Guardar  <i class="fa fa-save" style="margin-left: 10px;"></i></button>
            </li>
            <li>
                <div class="boton" data-dismiss="modal">
                    <a href="#">Cancelar  <i class="fa fa-ban"></i></a>
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>

</div>

