@using Minem.Sgpam.InfraEstructura;
@model Minem.Sgpam.TransporteDatos.DtoEntidades.RegistrarExpedienteDTO

@{
    ViewData["Title"] = "Expediente de LNRs";
}

<form id="MyForm" asp-controller="Expediente" asp-action="AgregarEditar" autocomplete="off" data-ajax="true" data-ajax-method="POST">


</form>