<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SIGEPAM - @ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/iCheck/skins/flat/green.css">

    <link rel="stylesheet" href="~/lib/datatables.net-bs/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/datatables.net-buttons-bs/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/datatables.net-responsive-bs/css/responsive.bootstrap.min.css">
    <link rel="stylesheet" href="~/lib/datatables.net-scroller-bs/css/scroller.bootstrap.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;">
                        <a href="#" class="logo"><img src="~/images/l1.jpg" alt=""><span><img src="~/images/l2.jpg" alt=""></span></a>
                    </div>

                    <div class="clearfix"></div>
                    <br />

                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <ul class="nav side-menu">
                                @*<li><a href="#"><i class="fa fa-address-card"></i>                                      <span> Administración </span></a></li>*@
                                <li><a asp-controller="Eum" asp-action="Index"><i class="fa fa-archive"> </i> <span> Gestión de PAM </span></a></li>
                                <li><a asp-controller="Expediente" asp-action="Index"><i class="fa fa-folder-open-o"></i><span> Gestión de LNR </span></a></li>
                                <li><a asp-controller="Visita" asp-action="Index"><i class="fa fa-calendar-check"></i> <span> Cronograma </span></a></li>
                                <li>
                                    <a href="#"><i class="fa fa-line-chart">  </i> <span> Reportes </span></a>
                                    <ul class="nav child_menu">
                                        <li><a asp-controller="Reporte" asp-action="InventarioPAM">Inventario de PAM</a></li>
                                        <li><a asp-controller="Reporte" asp-action="InventarioLNR">Inventario de LNR</a></li>
                                    </ul>
                                </li>
                                <li><a asp-controller="Intro" asp-action="SignOff"><i class="fa fa-calendar-check"></i> <span> Cerrar Sesión </span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav">
                <div class="nav_menu">
                    <nav>
                        <div class="nav toggle">
                            <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                        </div>

                        <div class="page-title">
                            <div class="title_left">
                                <h1>Sistema de Inventario de Pasivos Ambientales</h1>
                            </div>

                            <div class="title_right">
                                <div align="right" class="col-md-12 col-sm-12 col-xs-12 form-group pull-right top_search">
                                    <div class="input-group">
                                        @if (User.Identity.IsAuthenticated)
                                        {
                                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <img src="~/images/img.jpg" alt=""> @( ((System.Security.Claims.ClaimsIdentity)User.Identity).FindFirst("UserName").Value)
                                                <span class=" fa fa-angle-down"></span>
                                            </a>
                                        }
                                        else
                                        {
                                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                                <img src="~/images/img.jpg" alt="">Usuario no autenticado
                                                <span class=" fa fa-angle-down"></span>
                                            </a>
                                        }

                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="">
                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>@ViewData["Title"]</h2>
                                    <ul class="nav navbar-right panel_toolbox">
                                        @*<li>
                                                <a href="#" class="bread">Home </a>
                                            </li>*@
                                        @*<li>
                                                <a href="#" class="on"><i class="fa fa-chevron-right"></i> Reportes</a>
                                            </li>*@
                                    </ul>
                                    <div class="clearfix"></div>
                                </div>

                                <div class="x_content">
                                    @RenderBody()
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /page content -->

        </div>
    </div>
    <script src="~/lib/moment/min/moment.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/lib/fastclick/lib/fastclick.js"></script>
    <script src="https://kit.fontawesome.com/3247309a0d.js" crossorigin="anonymous"></script>
    <script src="~/lib/iCheck/icheck.min.js"></script>
    <script src="~/lib/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/lib/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/lib/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/lib/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/lib/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/lib/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/lib/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/lib/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/lib/datatables.net-scroller/js/dataTables.scroller.min.js"></script>
    <script src="~/lib/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/lib/pdfmake/build/vfs_fonts.js"></script>

    <script src="~/js/site.js"></script>
    <script src="~/js/alert.js"></script>
    <script src="~/js/botonesAlert.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
