@model Minem.Sgpam.TransporteDatos.DtoEntidades.Visita_PersonaDTO

<div class="rowGroup">
    <h1 class="grupoT">Agregar Inspección</h1>

    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Cargo (<font color="red">*</font>)</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <select id="vId_Cargo" class="select2_single form-control" asp-for="Id_Cargo" asp-items="(List<SelectListItem>)ViewBag.CboCargo">
                    <option value="">SELECCIONE</option>
                </select>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">DNI (<font color="red">*</font>)</label>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" asp-for="Dni" class="form-control" maxlength="8" placeholder="" onkeypress="return ValidaNumero(event)"> @*OnlyNumeric*@
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Nombre y apellido (<font color="red">*</font>)</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <input type="text" asp-for="Nombre_Completo" class="form-control" maxlength="50" placeholder="Juan Perez" onkeypress="return ValidaLetras(event)">
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Correo electrónico </label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <input type="text" asp-for="Correo" class="form-control" maxlength="50" placeholder="nombre@correo.com"> @*onkeypress="return validateEmail(event)"*@
            </div>
        </div>
    </div>

    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
        <div class="form-group">
            <label class="control-label col-md-4 col-sm-4 col-xs-12">Contacto</label>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <input type="text" asp-for="Contacto" class="form-control" maxlength="50" placeholder="" onkeypress="return ValidaLetras(event)" >
            </div>
        </div>
    </div>

    <div class="clearfix"></div>

    <div class="x_title2">
        <div align="center" class="titulo-m">
            <input type="hidden" asp-for="Id_Visita" />
        </div>
        <ul class="nav navbar-right panel_toolbox">
            <li>
                <button type="button" class="boton" style="margin-right: 0px;" onclick="SaveVisitaPersona()">Guardar  <i class="fa fa-save" style="margin-left: 10px;"></i></button>
            </li>
            <li>
                <div class="boton" data-dismiss="modal">
                    <a href="#">Cancelar  <i class="fa fa-ban"></i></a>
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>

    <div class="clearfix"></div>

</div>


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {

            function OnlyNumeric(e) {
                var key = e.which ? e.which : e.keyCode;
                if ((key < 48 || key > 57)) {
                    if (key == 8 || key == 46 || key == 0) {
                        return true;
                    }
                    else {
                        return false;
                    }
                }
            }

        });

        function onlyNumberKey(evt) {

            var ASCIICode = (evt.which) ? evt.which : evt.keyCode
            if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                return false;
            return true;
        }

    </script>
}

