@using Minem.Sgpam.InfraEstructura;
@model Minem.Sgpam.TransporteDatos.DtoEntidades.ListarVisitaDTO

@{
    ViewData["Title"] = "Programación de visitas  de LNR o EUM";
}

<form id="MyForm" asp-controller="Visita" asp-action="Index" autocomplete="off" data-ajax="true" data-ajax-method="POST">

    <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">LNR/EUM:</label>
                <div class="col-md-8 col-sm-9 col-xs-12">
                    <select class="select2_single form-control" tabindex="-1">
                        <option value="0" selected>Todos</option>
                        <option value="1">LNR</option>
                        <option value="2">EUM</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Expediente: </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input asp-for="@Model.Visita.Usu_Ingreso" class="form-control" placeholder="253-2019" maxlength="10" />
                </div>
            </div>
        </div>
        <div class="col-md-5 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Nombre EUM: </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <input class="form-control" placeholder="Empresa S. A." maxlength="50">
                </div>
            </div>
        </div>

        <div class="col-md-1 col-sm-12 col-xs-12 form-group">
            <div class="boton">
                <a asp-action="Index">Buscar <i class="fa fa-search"></i></a>
                @*<button type="submit" class="btn btn-agrosecondary mr-sm-1">Buscar <i class="fa fa-search"></i></button>*@
            </div>
        </div>

        <div class="col-md-3 col-sm-12 col-xs-12 form-group">
            <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Cant. año</label>
                <div class="col-md-7 col-sm-9 col-xs-12">
                    <select class="select2_single form-control" tabindex="-1">
                        <option></option>
                        <option value="0" selected>Todos</option>
                        <option value="1">+ 2 años</option>
                        <option value="2">+ 3 años</option>
                    </select>
                </div>
            </div>
        </div>

    </div>

    <div class="x_title2">
        <div align="center" class="titulo-m">
            <h3>Lista de visitas a LNR / EUM </h3>
        </div>

        <ul class="nav navbar-right panel_toolbox">
            <li>
                <div class="boton">
                    <a asp-action="AgregarEditar"> Agregar <i class="fa fa-plus"></i></a>
                </div>
            </li>
            @*<li>
            <div class="boton">
                <a asp-action="Exportar">Exportar  <i class="fa fa-sign-out"></i></a>
            </div>
        </li>*@
        </ul>

        <div class="clearfix"></div>
    </div>

    <table id="datatable" class="table table-striped table-bordered pam">
        <thead>
            <tr>
                <th>Expediente</th>
                <th>EUM</th>
                <th>Declarante</th>
                <th>Año</th>
                @*<th>Región</th>
        <th>Provincia</th>
        <th>Distrito</th>*@
                <th>Ultima Visita</th>
                <th>Tiempo sin visitar</th>
            </tr>
        </thead>
        <tbody>
            @if (!Model.ListaVisita.Any())
            {
                <tr class="even pointer">
                    <td class=" " colspan="6">No existen registros</td>
                </tr>
            }
            else
            {
                foreach (var item in Model.ListaVisita)
                {
                    <tr class="even pointer">
                        <td class=" "></td>
                        <td class=" ">@item.Fecha_Salida</td>
                        <td class=" ">@item.Fecha_Regreso</td>
                        <td class=" "></td>
                        <td class=" "></td>
                        <td class=" ">
                            <ul class="nav navbar-left panel_toolbox">
                                <li>
                                    <div class="boton2">
                                        <a asp-action="AgregarEditar" asp-route-vId="@item.Id_Visita" title="Editar Registro"><i class="fas fa-edit"></i></a>
                                    </div>
                                    @*<div class="boton2">
                                            <a href="#">                                                                        <i class="fa fa-edit"></i></a>
                                        </div>*@
                                </li>
                                @*<li>
                                        <div class="boton2">
                                            <a href="#"> <i class="fa fa-dedent "></i></a>
                                        </div>
                                    </li>*@
                            </ul>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>


    <input type="hidden" name="vUbigeo" id="vUbigeo" />



</form>